language: node_js

node_js:
  - '8'
  - '10'
  - '12'
  - '13'

cache: npm

install:
  - npm i -g lerna
  - lerna bootstrap

script:
  - lerna run build
  - lerna run test:unit
  - lerna run test:func

jobs:
  include:
    - stage: "Beta Release"
      if: branch = master AND type != pull_request
      node_js: '10'
      script:
        - lerna bootstrap
        - lerna run build
        - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
        - npm run lerna:publish:beta

    - stage: "Release"
      if: tag IS present
      node_js: '10'
      script:
        - lerna bootstrap
        - lerna run build
        - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
        - npm run lerna:publish:latest